//===- VARIABLES -======================================================
$primary: #D500F9;
$accent: #3D5AFE;
$primary-lighten40: lighten($primary, 40);
$primary-lighten50: lighten($primary, 50);
$primary-lighten60: lighten($primary, 60);

//===- THEME REGISTER -=================================================
@include md-register-theme("clicbeaute", (
    primary: $primary, // The primary color of your application
    accent: $accent // The accent or secondary color
));

//===- CUSTOM RULES -===================================================
:root {
     --md-theme-clicanimal-text-primary-on-background: $primary;
     --md-theme-clicanimal-icon-on-background: $primary;
     --md-theme-clicbeaute-rowvariant: $primary-lighten40;
}
html.md-theme-clicbeaute {

  @import "../commons.scss";

    // *** WRITE RULES HERE, TRY USE MIXINS WITH VARIABLES ***//

}
