//===- VARIABLES -======================================================
$primary: #5D4037;
$accent: #E64A19;
$primary-lighten40: lighten($primary, 40);
$primary-lighten50: lighten($primary, 50);
$primary-lighten60: lighten($primary, 60);

//===- THEME REGISTER -=================================================
@include md-register-theme("clicanimal", (
    primary: $primary, // The primary color of your application
    accent: $accent // The accent or secondary color
));

//===- CUSTOM RULES -===================================================

:root {
  --md-theme-clicbeaute-text-primary-on-background: $primary;
  --md-theme-clicbeaute-icon-on-background: $primary;
  --md-theme-pharmaservices-rowvariant: $primary-lighten50;
}

html.md-theme-clicanimal {

  @import "../commons.scss";

    // *** WRITE RULES HERE, TRY USE MIXINS WITH VARIABLES ***//
}
