//===- VARIABLES -======================================================
$primary: #00BDFF;
$accent: #FF5252;
$primary-lighten40: lighten($primary, 40);
$primary-lighten50: lighten($primary, 50);
$primary-lighten60: lighten($primary, 60);

//===- THEME REGISTER -=================================================
@include md-register-theme("clicsante", (
    primary: $primary, // The primary color of your application
    accent: $accent, // The accent or secondary color
));

//===- CUSTOM RULES -===================================================
:root {
     --md-theme-clicsante-text-primary-on-background: $primary;
     --md-theme-clicsante-icon-on-background: $primary;
     --md-theme-clicsante-rowvariant: $primary-lighten40;
}
html.md-theme-clicsante {

  @import "../commons.scss";

    // *** WRITE RULES HERE, TRY USE MIXINS WITH VARIABLES ***//

}
