//===- VARIABLES -======================================================
$primary: #00C853;
$accent: #FF3D00;
$primary-lighten40: lighten($primary, 40);
$primary-lighten50: lighten($primary, 50);
$primary-lighten60: lighten($primary, 60);

//===- THEME REGISTER -=================================================
@include md-register-theme("pharmaservices", (
    primary: $primary, // The primary color of your application
    accent: $accent // The accent or secondary color
));

//===- CUSTOM RULES -===================================================
:root{
     --md-theme-pharmaservices-text-primary-on-background: $primary;
     --md-theme-pharmaservices-icon-on-background: $primary;
     --md-theme-clicanimal-rowvariant: $primary-lighten60;
}
html.md-theme-pharmaservices {

  @import "../commons.scss";

    // *** WRITE RULES HERE, TRY USE MIXINS WITH VARIABLES ***//
}
