//==============================================================
// COMMONS VARIABLES BETWEEN ALL THEMES
//==============================================================
$primary-lighten40: lighten($primary, 40);
$primary-lighten50: lighten($primary, 50);
$primary-lighten60: lighten($primary, 60);


//===- COMMONS RULES -====================================================
//===- Les règles s'appliquent placées ici seront   -=====================
//===- dupliquer autant de fois qu'il y a de thèmes.-=====================
//===- Donc ne placer que les règles neccéssitant   -=====================
//===- les variables propres à chacun des thèmes.   -=====================
//===- Placer les autres règles dans app.scss       -=====================

div.md-toolbar.md-table-toolbar.md-transparent span {
  color: $primary;
  cursor: pointer;
  i {
      color: $primary;
    }
}

.md-dialog-title{
  background-color: $primary;
}

