@import url("//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons");
@import "../../node_modules/vue-material/dist/theme/engine";
// Import the theme engine

@import "reset";
@import "./themes/clicsante";
@import "./themes/clicbeaute";
@import "./themes/clicanimal";
@import "./themes/pharmaservices";
@import "../../node_modules/vue-material/dist/theme/all"; // Apply the vue-material theme to all components

.container {
  text-align: center;
}

.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 1 */
  display: block;
  font-weight: 300;
  font-size: 60px;
  color: #35495e;
  letter-spacing: 1px;
  margin-bottom: 24px;
}

.subtitle {
  font-weight: 200;
  font-size: 24px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}

.red {
  color: red;
}
