<template>
    <div>
        <header class="Header md-layout">

            <h2 class="md-layout-item">{{ this.module }}</h2>

            <nav class="md-layout-item">
                <LangSwitcher/>
                <nuxt-link :to="localePath('index')" exact>
                    {{ $t('links.home') }}
                </nuxt-link>
                <nuxt-link :to="localePath('about')" exact>
                    {{ $t('links.about') }}
                </nuxt-link>
            </nav>

        </header>
        <nuxt/>
    </div>
</template>

<script>
    import LangSwitcher from '~/components/LangSwitcher';

    export default {
        components: {
            LangSwitcher
        },
        computed: {
            module() {
                return this.$store.getters.getModule;
            }
        }
    };
</script>

<style lang="scss">

    html {
        font-size: 16px;
        word-spacing: 1px;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        box-sizing: border-box;
    }

    *, *:before, *:after {
        box-sizing: border-box;
        margin: 0;
    }

    header {
        padding: 12px;
        background-color: #00BDFF;
        margin-bottom: 12px;
    }

    h1, h2 {
        font-size: 1.5rem;
    }

    nav {
        text-align: right;
        a {
            color: white !important;
            margin-left: 12px;
        }
    }
</style>
