<template>
    <div class="Content">
        <div class="container">
            <h1>{{ $t('about.title') }} / Child</h1>
            <br>
            <p>{{ $t('about.introduction') }} / Child</p>
        </div>
    </div>
</template>

