<template>
    <div class="Content">
        <div class="container">
            <h1 class="red">Hello World!</h1>
            <br>
            <p>{{ $t('about.introduction') }}</p>
        </div>
        <div style="background-color: #00C853; margin: 150px; padding: 150px;">
            <nuxt/>
        </div>
    </div>
</template>

<script>
    export default {
        head() {
            return { title: this.$t('about.title') };
        }
    };
</script>
