<template>
    <div class="Content">
        <div class="container">
            <div class="md-card">
                <logo/>
                <h1 class="title">
                    TRIMOZ PUBLIC
                </h1>
                <br/>
                <br/>
                <h2 class="subtitle">
                    Trimoz | Clients | Pages publiques | Public pages
                </h2>
                <br/>
                <br/>
                <div class="links">
                    <md-button href="https://nuxtjs.org/" target="_blank">Documentation</md-button>
                    <md-button href="https://github.com/nuxt/nuxt.js" target="_blank">GitHub</md-button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Logo from '~/components/Logo.vue';

    export default {
        layout: 'default',
        components: {
            Logo
        }
    };
</script>

<style>

</style>
